<div class="bg-neutral-300 flex justify-between items-center p-3 rounded-xl">
    <div class="flex flex-col justify-center">
        <div class="flex flex-col justify-start">
            <p class="text-2xl font-bold">id</p>
            <p
                class="text-black font-medium text-base justify-items-start text-start"
            >
                {{ contact.id }}
            </p>
        </div>
        <div class="flex flex-col justify-start">
            <p class="text-2xl font-bold">Name:</p>
            <p
                class="text-black font-medium text-base justify-items-start text-start"
            >
                {{ contact.name }}
            </p>
        </div>
        <div>
            <p class="text-2xl font-bold">Phone:</p>
            <p
                class="text-black font-medium text-base justify-items-start text-start"
            >
                {{ contact.phone }}
            </p>
        </div>
        <div>
            <p class="text-2xl font-bold">MobilePhone:</p>
            <p
                class="text-black font-medium text-base justify-items-start text-start"
            >
                {{ contact.mobilePhone }}
            </p>
        </div>
        <div>
            <p class="text-2xl font-bold">Address:</p>
            <p
                class="text-black font-medium text-base justify-items-start text-start"
            >
                {{ contact.address }}
            </p>
        </div>
        <div>
            <p class="text-2xl font-bold">Email:</p>
            <p
                class="text-black font-medium w-128 text-base justify-items-start text-start"
            >
                {{ contact.email }}
            </p>
        </div>
        <div class="flex flex justify-between mt-3">
            <button
                (click)="deleteContact(contact.id)"
                class="font-medium text-white bg-red-500 hover:bg-red-600 rounded-xl w-28 h-12 mr-5"
            >
                Delete
            </button>
            <button
                (click)="updateContact(contact)"
                class="font-medium text-white bg-blue-600 hover:bg-blue-700 rounded-xl w-28 h-12 mr-5"
            >
                Update
            </button>
        </div>
    </div>
</div>
