<div class="flex justify-end">
    <button
        type="button"
        routerLink="/new-contact"
        class="font-bold text-white bg-green-500 hover:bg-green-600 rounded-xl w-12 h-12 m-3 mr-10"
    >
        +
    </button>
</div>
<div class="flex flex-wrap justify-center items-center mt-5 p-5">
    @for (contact of contacts; track contact['id']) {
        <app-contact-box
            [contact]="contact"
            class="m-5"
            (delete)="deleteContact($event)"
        ></app-contact-box>
    }
</div>
